<!-- Site footer -->


</div>

<footer class="footer">
  <small>
    <strong>&copy; 2016 MyRecipes</strong>
    by <em><a href="http://scl.dcs.upd.edu.ph/members/rvlcanseco">Roy Canseco</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Help",   static_pages_help_path %></li>
    </ul>
  </nav>
</footer>
