<!-- Site footer -->
<footer class="footer">
  <p>&copy; 2016 MyRecipes</p>
</footer>

</div>

<footer class="footer">
  <small>
    <strong><p>&copy; 2016 MyRecipes</p></strong>
    by <em><a href="http://scl.dcs.upd.edu.ph/members/rvlcanseco">Roy Canseco</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>
